%YAML 1.2
---
#Set up logging
- !ConfigLogging
  stem: {{testname}}
  level: TIMING
#Add modules folder to python path
- !PythonPathRequest
  folders: [modules]
#Folder Structure
- !UpdateFolderStructure
  OwnSolutionFile: [solutions, 0, 1, 2]
  SiblingSolutionFile: [solutions, 0]
  postprocfile: [postproc, 0]
- !DumpFolderStructure
  name: {{testname}}.dump_folder_structure
  outfile: !SiblingSolutionFile folder_structure.yaml
{#For each job#}
{% for job in joblist.itertuples() %}
{%set id=job.job_id%}
#id={{id}}
#Mesh Generation
- !TemplateFileRequest
  name: {{testname}}.geo.{{id}}
  tmplfile: !geotemplate slot2d_inclusions.geo.jinja2
  outfile: !geofile {{testname}}-{{id}}.geo
  data:
    mcar1: {{job.mcar1}}
    mcar2: {{job.mcar2}}
    mcar3: {{job.mcar3}}
    mcar4: {{job.mcar4}}
    S: {{job.S}}
    d: {{job.d}}
    H: {{job.H}}
    slot_length: {{job.slot_length}}
    inclusionlist: #[id, x, y, radius]
      - [1000,{{job.inc1000_xcen}},0.0,1.0]
      - [1100,{{job.inc1000_xcen + job.inc_sep_dist}},0.0,1.0]
    left_ids: "1000"
    right_ids: "1100"
- !GeoToHDF5Request
  name: {{testname}}.mesh.{{id}}
  mesh_stem: {{testname}}-{{id}}
#Solve the Linearized Poisson-Boltzmann Equation
- !LPBSimulator
  name: {{testname}}.lpb.{{id}}
  mesh: !mesh_hdf5file {{testname}}-{{id}}.hdf5
  meshmeta: !meshmetafile {{testname}}-{{id}}.yaml
  solver_parameters:
    linear_solver: gmres
    preconditioner: ilu
  conditions:
    elementorder: 2
    kappa: 1.0
    dirichlet: &potential_dirichlet_{{id}}
      1: 0.0 #Left boundary
      2: 0.0 #Right boundary
      11: 0.0 #Bottom of slot, left half
      12: 0.0 #Bottom of slot, right half
      15: 0.0 #Top of slot, left half
      16: 0.0 #Top of slot, right half
      1000: 0.0 #Reactive inclusion 1
      1100: 0.0 #Reactive inclusion 2
  dataextraction:
    - [writefield, {outfpath: !OwnSolutionFile potential.pvd}]
    - [writefield, {outfpath: !OwnSolutionFile potential.hdf5, outname: potential}]
    - - reportvalues
      - outfpath: !OwnSolutionFile lpb_solvetime.yaml
        mapping:
          elapsed_time: sim_timer.delta_str
#Solve the Smoluchowski Equation
- !SUSimulator
  &smol_basic_def_{{id}}
  name: {{testname}}.smol.{{id}}.solve
  mesh: !mesh_hdf5file {{testname}}-{{id}}.hdf5
  meshmeta: !meshmetafile {{testname}}-{{id}}.yaml
  solver_parameters:
    linear_solver: gmres
    preconditioner: ilu
  loaddata:
    - [loadfield, {attrpath: potential, infpath: !SiblingSolutionFile lpb/{{id}}/potential.hdf5, fieldtag: potential}]
  conditions:
    elementorder: 2
    dirichlet:
      1: [5.0, 0.0, 0.0] #Left boundary
      2: [1.0, 0.0, 0.0] #Right boundary
      1000: [0, null, null] #Reactive inclusion 1
      1100: [null, 0, null] #Reactive inclusion 2
    species:
      - {symbol: A, z: 0, D: 1.0}
      - {symbol: B, z: 0, D: 1.0}
      - {symbol: C, z: 0, D: 1.0}
    reactive:
      1000: [A, B]
      1100: [B, C]
    beta: 1.0
    potential_dirichlet: *potential_dirichlet_{{id}}
  dataextraction:
    - [writefield, {outfpath: !OwnSolutionFile soln.hdf5, attrpath: soln, outname: soln}]
    - [transform_back, {}]
{%for species in ["A","B","C"]%}
    - [calcflux, {solnattr: solnlist, idx: {{loop.index0}}, attrpath: flux_{{species -}} }]
    - [writefield, {outfpath: !OwnSolutionFile conc_{{species}}.hdf5, attrpath: clist, idx: {{loop.index0}}, outname: conc_{{species -}} }]
    - [writefield, {outfpath: !OwnSolutionFile flux_{{species}}.hdf5, attrpath: flux_{{species}}, outname: flux_{{species -}} }]
{%endfor%}{#end of loop over species#}
    - - reportvalues
      - outfpath: !OwnSolutionFile smol_solvetime.yaml
        mapping:
          elapsed_time: sim_timer.delta_str
#Extract the data
- !SUSimulator
  <<: *smol_basic_def_{{id}}
  name: {{testname}}.smol.{{id}}.extract
  skipsolve: True
  metadata:
    job_id: "{{job.job_id}}"
    inc_sep_dist: {{job.inc_sep_dist}}
  loaddata:
    - [loadfield, {attrpath: potential, infpath: !SiblingSolutionFile lpb/{{id}}/potential.hdf5, fieldtag: potential}]
    - [loadfield, {attrpath: soln, infpath: !OwnSolutionFile soln.hdf5, fieldtag: soln}]
{%for species in ["A","B","C"]%}
    - [newfunction, {attrpath: conc_{{species}}, spaceattr: V_scalar, funcname: conc_{{species -}} }]
    - [newfunction, {attrpath: flux_{{species}}, spaceattr: V_vec, funcname: flux_{{species -}} }]
    - [loadfield, {attrpath: conc_{{species}}, infpath: !OwnSolutionFile conc_{{species}}.hdf5, fieldtag: conc_{{species -}} }]
    - [loadfield, {attrpath: flux_{{species}}, infpath: !OwnSolutionFile flux_{{species}}.hdf5, fieldtag: flux_{{species -}} }]
{%endfor%}{#end of loop over species#}
  dataextraction:
{%for species in ["A","B","C"]%}
    - [writefield, {outfpath: !OwnSolutionFile conc_{{species}}.pvd, attrpath: conc_{{species -}} }]
    - [writefield, {outfpath: !OwnSolutionFile flux_{{species}}.pvd, attrpath: flux_{{species -}} }]
    - [fluxintegral, {fluxattr: flux_{{species}}, pfacet: 5, attrpath: totflux_{{species}}_pore, internal: True, fluxsign: '-'}]
    - [fluxintegral, {fluxattr: flux_{{species}}, pfacet: 1000, attrpath: totflux_{{species}}_1000, internal: False}]
    - [fluxintegral, {fluxattr: flux_{{species}}, pfacet: 1100, attrpath: totflux_{{species}}_1100, internal: False}]
{%endfor%}{#end of loop over species#}
    - - reportvalues
      - outfpath: !OwnSolutionFile info.yaml
        mapping:
          job_id: metadata.job_id
          inc_sep_dist: metadata.inc_sep_dist
{%for species in ["A","B","C"]%}
          totflux_{{species}}_pore: totflux_{{species}}_pore
          totflux_{{species}}_1000: totflux_{{species}}_1000
          totflux_{{species}}_1100: totflux_{{species}}_1100
{%endfor%}{#end of loop over species#}
          elapsed_time: sim_timer.delta_str
    - [new_odict, {dpath: plots}]
{%for species in ["A","B","C"]%}
    - - line_profile
      - startloc: [X1,Y3]
        endloc: [X5,Y3]
        num: 1000
        indep: 0
        plotpath: plots.CL_{{species}}
        label: 'concentration of {{species}} along centerline'
        attrpath: conc_{{species}}
{%endfor%}{#end of loop over species#}
    - [save_pickle, {attrpath: plots, outfpath: !OwnSolutionFile plots.pkl}]
{%endfor%}{#for job#}

# Collection
- !RawCollectionRequest
  name: {{testname}}.collection
  outpath: !postprocfile results.pkl
  calculations:
    - [save_csv, {attrpath: df, outfpath: !postprocfile results.csv, dtype_csv_fpath: !postprocfile results_dtypes.csv}]
  definitions:
    - mapping:
        job_id: job_id
        inc_sep_dist: inc_sep_dist
{%for species in ["A","B","C"]%}
        totflux_{{species}}_pore: totflux_{{species}}_pore
        totflux_{{species}}_1000: totflux_{{species}}_1000
        totflux_{{species}}_1100: totflux_{{species}}_1100
{%endfor%}{#end of loop over species#}
      file_list:
{% for job in joblist.itertuples() %}
        - !DataFile solutions/{{testname}}/smol/{{job.job_id}}/info.yaml
{% endfor %}{#for job#}

# Plotting
- !FigureRequest
  name: {{testname}}.plot
  loadfiles:
    dframe: !postprocfile results.pkl #We can't load the dtypes this way.
  prepcommands:
  #  - [load_csv, {infpath: !postprocfile results.csv, attrpath: dframe, dtype_csv_fpath: !postprocfile results_dtypes.csv}]
    - - series_from_dataframe
      - dfpath: dframe
        xcol: inc_sep_dist
        ycol: totflux_A_1000
        outattr: series_A_1000
        label: "$J_{AE1}$"
    - - series_from_dataframe
      - dfpath: dframe
        xcol: inc_sep_dist
        ycol: totflux_B_1000
        outattr: series_B_1000
        label: "$J_{BE1}$"
    - - series_from_dataframe
      - dfpath: dframe
        xcol: inc_sep_dist
        ycol: totflux_B_1100
        outattr: series_B_1100
        label: "$J_{BE2}$"
    - - series_from_dataframe
      - dfpath: dframe
        xcol: inc_sep_dist
        ycol: totflux_C_1100
        outattr: series_C_1100
        label: "$J_{CE2}$"
  rcparams:
    figure.dpi: 300
    figure.autolayout: False
  figures:
    - !FigureProperties
      figsize: [8,5]
      outfpath: !postprocfile plot.png
  axes:
    - !AxesProperties
      xlabel:
        xlabel: 'Inclusion separation distance [nm]'
        fontsize: 20
      ylabel:
        ylabel: 'Total flux'
        fontsize: 20
      #xlim: [30,60]
      #ylim: [0.0,1.0]
  series:
    - !SeriesProperties
      seriesattr: series_A_1000
      fmt: "k-"
    - !SeriesProperties
      seriesattr: series_B_1000
      fmt: "r-"
    - !SeriesProperties
      seriesattr: series_B_1100
      fmt: "g-"
    - !SeriesProperties
      seriesattr: series_C_1100
      fmt: "b-"
  plotcommands:
    - [axmethod, {method: legend, loc: "center left", numpoints: 1, bbox_to_anchor: [1, 0.5]}] 
    - [figmethod, {method: subplots_adjust, bottom: 0.15, left: 0.2, right: 0.8}]
