//2D slot with circular inclusions

//Mesh density control
mcar1={{mcar1}}; //Coarsest mesh density - ends of reservoirs
mcar2={{mcar2}}; //for near corner of reservoir
mcar3={{mcar3}}; //for edges of the slot
mcar4={{mcar4}}; //Finest mesh density - around inclusions

//Geometric inputs
S={{S}};
d={{d}};
H={{H}};
slot_length={{slot_length}};

//Point ordinates
X1=-H-slot_length/2;
X2=-slot_length/2;
X3=0;
X4=slot_length/2;
X5=H+slot_length/2;
Y1=-S/2;
Y2=-d/2;
Y3=0;
Y4=d/2;
Y5=S/2;

//Points
p11=newp; Point(p11)={X1,Y1,0,mcar1};
p15=newp; Point(p15)={X1,Y5,0,mcar1};
p21=newp; Point(p21)={X2,Y1,0,mcar2};
p22=newp; Point(p22)={X2,Y2,0,mcar3};
p24=newp; Point(p24)={X2,Y4,0,mcar3};
p25=newp; Point(p25)={X2,Y5,0,mcar2};
p32=newp; Point(p32)={X3,Y2,0,mcar3};
p34=newp; Point(p34)={X3,Y4,0,mcar3};
p41=newp; Point(p41)={X4,Y1,0,mcar2};
p42=newp; Point(p42)={X4,Y2,0,mcar3};
p44=newp; Point(p44)={X4,Y4,0,mcar3};
p45=newp; Point(p45)={X4,Y5,0,mcar2};
p51=newp; Point(p51)={X5,Y1,0,mcar1};
p55=newp; Point(p55)={X5,Y5,0,mcar1};

//Lines
l01=newl; Line(l01)={p11, p15};
l02=newl; Line(l02)={p51, p55};
l03=newl; Line(l03)={p22, p24};
l04=newl; Line(l04)={p42, p44};
l05=newl; Line(l05)={p32, p34};
l06=newl; Line(l06)={p21, p22};
l07=newl; Line(l07)={p24, p25};
l08=newl; Line(l08)={p41, p42};
l09=newl; Line(l09)={p44, p45};
l10=newl; Line(l10)={p11, p21};
l11=newl; Line(l11)={p22, p32};
l12=newl; Line(l12)={p32, p42};
l13=newl; Line(l13)={p41, p51};
l14=newl; Line(l14)={p15, p25};
l15=newl; Line(l15)={p24, p34};
l16=newl; Line(l16)={p34, p44};
l17=newl; Line(l17)={p45, p55};

//Line Loops
L1=newll; Line Loop(L1)={l01, l14, -l07, -l03, -l06, -l10};
L2=newll; Line Loop(L2)={l08, l04, l09, l17, -l02, -l13};
L3=newll; Line Loop(L3)={l03, l15, -l05, -l11};
L4=newll; Line Loop(L4)={l05, l16, -l04, -l12};

//Circles for inclusions
{% for inc_id, xcen, ycen, rad in inclusionlist -%}
//Inclusion {{inc_id}}
Point({{inc_id}})={ {{- xcen -}},{{- ycen -}},0,mcar4};
Point({{inc_id+1}})={ {{- xcen+rad -}},{{- ycen -}},0,mcar4};
Point({{inc_id+2}})={ {{- xcen -}},{{- ycen+rad -}},0,mcar4};
Point({{inc_id+3}})={ {{- xcen-rad -}},{{- ycen -}},0,mcar4};
Point({{inc_id+4}})={ {{- xcen -}},{{- ycen-rad -}},0,mcar4};
Circle({{inc_id+5}})={ {{- inc_id+1}},{{inc_id}},{{inc_id+2 -}} };
Circle({{inc_id+6}})={ {{- inc_id+2}},{{inc_id}},{{inc_id+3 -}} };
Circle({{inc_id+7}})={ {{- inc_id+3}},{{inc_id}},{{inc_id+4 -}} };
Circle({{inc_id+8}})={ {{- inc_id+4}},{{inc_id}},{{inc_id+1 -}} };
Line Loop({{inc_id}})={ {{- inc_id+5}},{{inc_id+6}},{{inc_id+7}},{{inc_id+8 -}} };
{% endfor %}

//Physical Lines
//general
Physical Line(1)={l01};
Physical Line(2)={l02};
Physical Line(3)={l03};
Physical Line(4)={l04};
Physical Line(5)={l05};
Physical Line(6)={l06};
Physical Line(7)={l07};
Physical Line(8)={l08};
Physical Line(9)={l09};
Physical Line(10)={l10};
Physical Line(11)={l11};
Physical Line(12)={l12};
Physical Line(13)={l13};
Physical Line(14)={l14};
Physical Line(15)={l15};
Physical Line(16)={l16};
Physical Line(17)={l17};
//inclusions
{% for inc_id, xcen, ycen, rad in inclusionlist -%}
Physical Line({{inc_id}})={ {{- inc_id+5}},{{inc_id+6}},{{inc_id+7}},{{inc_id+8 -}} };
{% endfor %}

//Surfaces (each is a physical surface)
Plane Surface(1)={L1};
Physical Surface(1)={1};
Plane Surface(2)={L2};
Physical Surface(2)={2};
Plane Surface(3)={L3, {{- left_ids -}} };
Physical Surface(3)={3};
Plane Surface(4)={L4, {{- right_ids -}}};
Physical Surface(4)={4};

//Mesh metadata output
Printf("# Mesh metadata output") > meshmetafile;
Printf("mcar1: %f", mcar1) >> meshmetafile;
Printf("mcar2: %f", mcar2) >> meshmetafile;
Printf("mcar3: %f", mcar3) >> meshmetafile;
Printf("mcar4: %f", mcar4) >> meshmetafile;
Printf("S: %f", S) >> meshmetafile;
Printf("d: %f", d) >> meshmetafile;
Printf("H: %f", H) >> meshmetafile;
Printf("slot_length: %f", slot_length) >> meshmetafile;
Printf("X1: %f", X1) >> meshmetafile;
Printf("X2: %f", X2) >> meshmetafile;
Printf("X3: %f", X3) >> meshmetafile;
Printf("X4: %f", X4) >> meshmetafile;
Printf("X5: %f", X5) >> meshmetafile;
Printf("Y1: %f", Y1) >> meshmetafile;
Printf("Y2: %f", Y2) >> meshmetafile;
Printf("Y3: %f", Y3) >> meshmetafile;
Printf("Y4: %f", Y4) >> meshmetafile;
Printf("Y5: %f", Y5) >> meshmetafile;
//Inclusions
Printf("inclusion_count: %f", {{inclusionlist|length}}) >> meshmetafile;
Printf("inclusion_list:") >>meshmetafile;
{% for inc_id, xcen, ycen, rad in inclusionlist -%}
Printf("  - [{{inc_id}}, {{xcen}}, {{ycen}}, {{rad}}]") >> meshmetafile;
{% endfor %}

//Define mesh
Mesh 2;

//Blank lines
//because (an old version of) gmsh gets confused without them




