//A two-dimensional slot, with reservoirs
//usage:
//gmsh thisfile.geo

//Mesh density control
mcar1={{mcar1}}; //Coarsest mesh density
mcar2={{mcar2}}; //Finest mesh density

//Geometric inputs
L={{L}}; //"length" of unit cell: distance perpendicular to the channel
R={{R}}; //"radius" = half-width of 2D channel
H={{H}}; //"height" of each reservoir parallel to the channel
tm={{tm}}; //"thickness of membrane" = length of the channel through the 

//Point ordinates
X1=-H-tm/2;
X2=-tm/2;
X3=0;
X4=tm/2;
X5=H+tm/2;
Y1=0;
Y2=R;
Y3=L;

//Points
p11=newp; Point(p11)={X1,Y1,0,mcar1};
p13=newp; Point(p13)={X1,Y3,0,mcar1};
p21=newp; Point(p21)={X2,Y1,0,mcar2};
p22=newp; Point(p22)={X2,Y2,0,mcar2};
p23=newp; Point(p23)={X2,Y3,0,mcar1};
p31=newp; Point(p31)={X3,Y1,0,mcar2};
p32=newp; Point(p32)={X3,Y2,0,mcar2};
p41=newp; Point(p41)={X4,Y1,0,mcar2};
p42=newp; Point(p42)={X4,Y2,0,mcar2};
p43=newp; Point(p43)={X4,Y3,0,mcar1};
p51=newp; Point(p51)={X5,Y1,0,mcar1};
p53=newp; Point(p53)={X5,Y3,0,mcar1};

//Lines
L11_13=newl; Line(L11_13)={p11, p13};
L13_23=newl; Line(L13_23)={p13, p23};
L23_22=newl; Line(L23_22)={p23, p22};
L22_21=newl; Line(L22_21)={p22, p21};
L21_11=newl; Line(L21_11)={p21, p11};
L22_32=newl; Line(L22_32)={p22, p32};
L32_31=newl; Line(L32_31)={p32, p31};
L31_21=newl; Line(L31_21)={p31, p21};
L32_42=newl; Line(L32_42)={p32, p42};
L42_41=newl; Line(L42_41)={p42, p41};
L41_31=newl; Line(L41_31)={p41, p31};
L42_43=newl; Line(L42_43)={p42, p43};
L43_53=newl; Line(L43_53)={p43, p53};
L53_51=newl; Line(L53_51)={p53, p51};
L51_41=newl; Line(L51_41)={p51, p41};

//Circles

//Line Loops
Line Loop(1)={L11_13, L13_23, L23_22, L22_21, L21_11};
Line Loop(2)={-L22_21, L22_32, L32_31, L31_21};
Line Loop(3)={-L32_31, L32_42, L42_41, L41_31};
Line Loop(4)={-L42_41, L42_43, L43_53, L53_51, L51_41};

//Surfaces (each is a physical surface)
Plane Surface(1)={1};
Physical Surface(1)={1};
Plane Surface(2)={2};
Physical Surface(2)={2};
Plane Surface(3)={3};
Physical Surface(3)={3};
Plane Surface(4)={4};
Physical Surface(4)={4};

//Physical Lines
Physical Line(1113)={L11_13};
Physical Line(1323)={L13_23};
Physical Line(2223)={L23_22};
Physical Line(2122)={L22_21};
Physical Line(1121)={L21_11};
Physical Line(2232)={L22_32};
Physical Line(3132)={L32_31};
Physical Line(2131)={L31_21};
Physical Line(3242)={L32_42};
Physical Line(4142)={L42_41};
Physical Line(3141)={L41_31};
Physical Line(4243)={L42_43};
Physical Line(4353)={L43_53};
Physical Line(5153)={L53_51};
Physical Line(4151)={L51_41};

//Mesh metadata output
Printf("# Mesh metadata output") > meshmetafile;
Printf("mcar2: %f", mcar2) >> meshmetafile;
Printf("mcar1: %f", mcar1) >> meshmetafile;
Printf("L: %f", L) >> meshmetafile;
Printf("R: %f", R) >> meshmetafile;
Printf("H: %f", H) >> meshmetafile;
Printf("tm: %f", tm) >> meshmetafile;
Printf("X1: %f", X1) >> meshmetafile;
Printf("X2: %f", X2) >> meshmetafile;
Printf("X3: %f", X3) >> meshmetafile;
Printf("X4: %f", X4) >> meshmetafile;
Printf("X5: %f", X5) >> meshmetafile;
Printf("Y1: %f", Y1) >> meshmetafile;
Printf("Y2: %f", Y2) >> meshmetafile;
Printf("Y3: %f", Y3) >> meshmetafile;

//Mesh
Mesh 2;

//Blank lines
//because an older version of gmsh got confused without them



